[Desktop Entry]
Version=1.0
Type=Application
Name=Fontbook
GenericName=Font Management
Comment=Preview and manage installed fonts
Exec=font-manager
Icon=preferences-desktop-font
Terminal=false
Categories=Settings;Utility;
StartupNotify=true
Keywords=font;typeface;preview;fontbook;
X-Edemint-Foundation=true
X-Edemint-Upstream=font-manager
