[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams
GenericName=Team Communication
Comment=Open Microsoft Teams for Web in the supported Firefox foundation
Exec=firefox-esr --new-window https://teams.microsoft.com/
Icon=web-browser
Terminal=false
Categories=Network;Chat;VideoConference;
StartupNotify=true
Keywords=teams;chat;meeting;video;work;microsoft;
X-Edemint-Foundation=true
X-Edemint-Delivery=web
X-Edemint-Upstream=https://teams.microsoft.com/
