[Desktop Entry]
Version=1.0
Type=Application
Name=Advanced Camera
GenericName=Camera Studio
Comment=Use advanced camera and recording controls
Exec=webcamoid
Icon=webcamoid
Terminal=false
Categories=AudioVideo;Video;Photography;
StartupNotify=true
Keywords=camera;studio;record;exposure;professional;
X-Edemint-Foundation=true
X-Edemint-Upstream=webcamoid
