[Desktop Entry]
Version=1.0
Type=Application
Name=Activity Monitor
GenericName=System Monitor
Comment=Inspect processes, CPU, memory and system resources
Exec=gnome-system-monitor
Icon=org.gnome.SystemMonitor
Terminal=false
Categories=System;Monitor;
StartupNotify=true
StartupWMClass=gnome-system-monitor
Keywords=process;cpu;memory;disk;network;activity;
X-Edemint-Foundation=true
X-Edemint-Upstream=org.gnome.SystemMonitor
